minFunc/
convolutionAndPooling/minFunc
convolutionAndPooling/stlTrainSubset.mat
convolutionAndPooling/stlTestSubset.mat
convolutionAndPooling/cnnPooledFeatures.mat
DeepNetworksforDigitClassification/minFunc
DeepNetworksforDigitClassification/mnist
linearDecoder/minFunc
linearDecoder/stlSampledPatches.mat
SelfTaughtLearning/mnist
SelfTaughtLearning/minFunc
SoftmaxClassifier/mnist
SoftmaxClassifier/minFunc
SparseAutoencoder/mnist
SparseAutoencoder/minFunc
SparseAutoencoder/IMAGES.mat
PCA/IMAGES_RAW.mat
